/*  Основные цвета макета:
Черный цвет #000000
Белый цвет #ffffff
Основной цвет текста #8F95A5
Доп. цвет лого #939393
Цвет заголовков h3 и кнопок #263238
Цвет  per month #546269
Цвет цыфр в About Us #2A3246
Фон блоков Skils #F5F5F5

Основные шрифты макета:
'Poppins' 400 (основной вес), 500, 600
 */

 :root {
--white-color: #ffffff;
--black-color: #000000;
--text-color: #8F95A5;
--logo-text-color: #939393;
--titile-btn-color: #263238;
--per-month-color: #546269;
--nomber-about-as-color: #2A3246;
--skils-bagraund-color: #F5F5F5;
 }

 body {
    font-family: 'Poppins', serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--white-color);
 }


 /* HEADER */

 .logo {
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-decoration: none;
 }

 .logo-first {
    color: var(--black-color);
 }

 .logo-end {
    color: var(--logo-text-color);
 }

 .header-list {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
 }

 .header-link {
    color: var(--titile-btn-color);
    text-decoration: none;
 }

 .header-btn {
    position: absolute;
    width: 312px;
    height: 70px;
    left: 1157px;
    top: 55px;
    border: 2px solid var(--titile-btn-color);
    border-radius: 10px;
    color: var(--black-color);
    background-color: var(--white-color);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
 }