/*  Основные цвета макета:
Черный цвет #000000
Белый цвет #ffffff
Основной цвет текста #8F95A5
Доп. цвет лого #939393
Цвет заголовков h3 и кнопок #263238
Цвет  per month #546269
Цвет цыфр в About Us #2A3246
Фон блоков Skils #F5F5F5
Фон блоков с ценой #EEEEEE

Основные шрифты макета:
'Poppins' 400 (основной вес), 500, 600
 */

 :root {
--white-color: #ffffff;
--black-color: #000000;
--text-color: #8F95A5;
--logo-text-color: #939393;
--titile-btn-color: #263238;
--per-month-color: #546269;
--nomber-about-as-color: #2A3246;
--skils-bagraund-color: #F5F5F5;
--priccing-price-color: #EEEEEE;
 }

 body {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--white-color);
    margin: 0;
 }

 p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }

 ul, ol {
    margin: 0;
    padding-left: 0;
 }
 button {
    cursor: pointer;
 }

 img {
    display: block;
 }

 .conteiner {
width: 1338px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
 }

 .section {
    padding-bottom: 180px;
 }

 /* HEADER */
.header-div {
display: flex;
align-items: center;
}

.header-nav {
    display: flex;
}

 .logo {
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 236px;
 }

 .logo-first {
    color: var(--black-color);
 }

 .logo-end {
    color: var(--logo-text-color);
 }

 .header-list {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
 }

 .header-list .item + .item {
    margin-left: 50px;
 }

 .header-link {
    color: var(--titile-btn-color);
    text-decoration: none;
    padding-top: 75px;
    padding-bottom: 75px;
 }

 .header-btn {
    width: 312px;
    height: 70px;
    border: 2px solid var(--titile-btn-color);
    border-radius: 10px;
    color: var(--black-color);
    background-color: var(--white-color);
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: auto;
 }


 /* HERO */

 .hero {
    display: flex;
 }

 .img-hero {
    margin-left: 144px;
 }

.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.24;
    color: var(--black-color);
    margin-bottom: 40px;
}

.hero-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;
}

.hero-btn {
width: 426px;
height: 100px;
border: 0;
border-radius: 10px;
background: var(--titile-btn-color);
font-size: 36px;
line-height: 54px;
text-align: center;
letter-spacing: 0.03em;
color: var(--white-color);
}


/* SKILLS */

.skils {
    outline: 1px solid tomato;
}

.skills-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 60px;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
}

.skills-list .item {
    background: var(--skils-bagraund-color);
    display: flex;
    flex-direction: column;
    padding: 32px 18px;
    flex-basis: calc(100% / 3 - 30px); 
    border-radius: 10px;  
}

.skills-list .item:nth-child(3) {
    margin-right: 0;
}

.skills-list > .skills-item {
    background: var(--skils-bagraund-color);
    display: flex;
    flex-direction: row-reverse;
    padding: 32px 56px 32px 18px;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 0;
}

.img-item {
    margin-bottom: 24px;
}

.img-skills {
    margin-left: 76px;
}

.item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--titile-btn-color);
    padding-bottom: 20px;
}

.skills-text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 30px;
}

.skills-btn {
    width: 218px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background: var(--titile-btn-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 0.6;
    color: var(--white-color);
}


/* About Us */

.about-us {
    display: flex;
}

.about-us-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--black-color);
    margin-bottom: 60px;
}

.about-us-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about-us-list {
    list-style: none;
    display: flex;
    width: 555px;
    margin-left: 50px;
}

.about-us-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 131px);
    margin-right: 131px;
    text-align: center;
}

.item-nomber {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--nomber-about-as-color);
    margin-bottom: 6px;
}

.img-about-us {
    margin-left: 146px;
}


/* pricing */

.pricing-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--black-color);
    margin-bottom: 60px;
    text-align: center;
}

.pricing-list {
    list-style: none;
    display: flex;
    gap: 30px;
}


.prising-img {
    margin-bottom: 31px;
}

.item-title {
    margin-bottom: 20px;
}

.pricing-text {
    margin-bottom: 30px;
}

.text {
    margin-bottom: 58px;
}

.pricing-price {
    background: var(--priccing-price-color);
    width: 260px;
    padding: 5px 23px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .item-prise {
    font-size: 24px;
    line-height: 1.5;
    columns: var(--titile-btn-color);
}


.text-item {
    font-size: 18px;
    line-height: 1.5;
}


/* Contact Us */

.contact-us {
    display: flex;
    flex-direction: row-reverse;
    gap: 145px;
    justify-content: flex-start;
}

.contact-us-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--black-color);
    margin-bottom: 60px;
}

.contact-us-text {
    width: 655px;
    margin-bottom: 30px;
}

/* footer-item */

.footer > .conteiner {
    display: flex;
    align-items: center;
    border-top: 1px solid #C4C4C4;
    padding-top: 22px;
    padding-bottom: 77px;
}

.footer-list {
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 80px;
}

.footer-link {
    text-decoration: none;
    color: var(--text-color);
}

